.titulo1{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    background-color: black;
}
.caixa{
    width: 100px;
    height: 100px;
    border: black 1px solid;
    background-color: yellow;
}
.caixa2{
    width: 100px;
    height: 100px;
    border: black 1px solid;
    background-color: aqua;
}
.caixa3{
    width: 100px;
    height: 100px;
    border: black 1px solid;
    background-color: rgb(201, 17, 243);
}
.caixa4{
    width: 100px;
    height: 100px;
    border: black 1px solid;
    background-color: red;
}