.titulo1{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    background-color: black;
    padding: 3px;
}
.caixa{
    width: 80px;
    height: 80px;
    border: black 3px dashed;
    margin: 5px 10px;
    /* margin-left: 20px; */
    padding: 5px;
    display: inline-block;
    background-color: yellow;
}
.caixa2{
    background-color: aqua;
}
.caixa3{
    background-color: rgb(201, 17, 243);
}
.caixa4{
    background-color: red;
}